<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin.Name %>
</p>

<p>
  <strong>Adminid:</strong>
  <%= @admin.Adminid %>
</p>

<p>
  <strong>Password:</strong>
  <%= @admin.Password %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @admin.Designation %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
