<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name, id: :user_Name %>
  </div>

  <div class="field">
    <%= form.label :Userid %>
    <%= form.text_field :Userid, id: :user_Userid %>
  </div>

  <div class="field">
    <%= form.label :Password %>
    <%= form.text_field :Password, id: :user_Password %>
  </div>

  <div class="field">
    <%= form.label :Batch %>
    <%= form.number_field :Batch, id: :user_Batch %>
  </div>

  <div class="field">
    <%= form.label :Branch %>
    <%= form.text_field :Branch, id: :user_Branch %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Email, id: :user_Email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
